<!doctype html>
<html>
<head>
    <title>My Schedule</title>
    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/jquery.gridster.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/schedulestyle.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<% include header %>
<div class="container">

    <div class="page-header text-center">
        <h1>My Schedule</h1>
    </div>

    <section class="schedulegrid">
        <div class="gridster">
            <ul>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <h1>Linear Algebra</h1>
                    <p>MATH 4123</p>
                    <button id="test" type="button" class="btn btn-default" data-toggle="popover" title="Course info"
                        data-content="The course is very good and stuff">i</button>
                </li>
                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><h1>Goodbye</h1></li>
                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><h1>Goodbye</h1></li>
                <li data-row="4" data-col="1" data-sizex="1" data-sizey="1"><h1>Goodbye</h1></li>

                <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"><h1>Hello</h1></li>
                <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"><h1>Hello</h1></li>
                <li data-row="3" data-col="2" data-sizex="1" data-sizey="1"><h1>Hello</h1></li>
                <li data-row="4" data-col="2" data-sizex="1" data-sizey="1"><h1>Hello</h1></li>

                <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"><h1>Such Column</h1></li>
            </ul>
        </div>
    </section>
</div>
<% include footer %>

    <script type="text/javascript" src="public/javascripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="public/javascripts/jquery.gridster.js" charster="utf-8"></script>
    <script type="text/javascript" src="public/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        var gridster;

        $(function() {
                gridster = $(".gridster > ul").gridster({
                    widget_margins: [10, 10],
                    widget_base_dimensions: [140, 140],
                    min_cols: 6
                }).data('gridster');
            });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".gridster li").hover(function(){
                $(".gridster li").css("box-shadow", "0 0 10px #fe2e2e");
            },function(){
                $(".gridster li").css("box-shadow", "0 0 0px #fe2e2e");
            });

            $('#test').popover();
        });
    </script>

</body>
</html>
