/* Gridster styles */
ul, ol {
    list-style: none;
}

.gridster h1 {
    font-size: 26px;
    text-align: center;
}
.gridster p {
    font-size: 13px;
    margin: 10px;
    position: absolute;
    bottom: 0px;
}

.schedulegrid {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #a9a9f5;
}

.schedulegrid :hover .gridster {
    opacity: 1;
}

.gridster {
    width: 940px;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster li {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.gridster button {
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    margin: 5px;
    background-color: #81DAF5;
}
