.navbar {
    margin-bottom: 0px;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}
/* Gridster styles */
.schedulegrid {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    padding-top: 20px;
    background: #a9a9f5;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.schedulegrid :hover .gridster {
    opacity: 1;
}

.gridster {
    width: auto;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster ul, ol {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
}

.gridster.semsters li {
    border-radius: 0px;
    font-size: 20px;
}

.gridster.classes li {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.gridster h1 {
    font-size: 16px;
    text-align: center;
}

.gridster p {
    font-size: 13px;
    margin: 10px;
    position: absolute;
    bottom: 0px;
}

.gridster button {
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    margin: 5px;
    background-color: #81DAF5;
}

